.div {
    &>div {
        width: 100% !important;
        height: 552px !important;
    }
}

@media (max-width: 768px) {
    .div {
        &>div {
            height: 400px !important;
        }
    }
}